translates:
	CZ:
		_label_holiday_01_01: Nový rok
		_label_holiday_01_05: Svátek práce
		_label_holiday_08_05: Den vítězství
		_label_holiday_05_07: Den slovanských věrozvěstů Cyrila a Metoděje
		_label_holiday_06_07: Den upálení mistra Jana Husa
		_label_holiday_28_09: Den české státnosti
		_label_holiday_28_10: Den vzniku samostatného československého státu
		_label_holiday_17_11: Den boje za svobodu a demokracii
		_label_holiday_24_12: Štědrý den
		_label_holiday_25_12: 1. svátek vánoční
		_label_holiday_26_12: 2. svátek vánoční
		_label_holiday_eastern_friday: Velký pátek
		_label_holiday_eastern: Velikonoční pondělí
