_label_holiday_01_01: Nouvel An
_label_holiday_05_01: Fête du Travail
_label_holiday_05_08: Victoire 1945
_label_holiday_07_14: Fête Nationale Française
_label_holiday_08_15: Assomption
_label_holiday_11_01: Toussaint
_label_holiday_11_11: Armistice 1918
_label_holiday_12_25: Noël
_label_holiday_12_26: Saint Étienne
_label_holiday_eastern_friday: Vendredi saint
_label_holiday_eastern_monday: Lundi de Pâques
_label_holiday_ascension: Ascension
_label_holiday_whit_monday: Lundi de Pentecôte
