_label_holiday_01_01: Nowy Rok
_label_holiday_01_06: Święto Trzech Króli
_label_holiday_05_01: Święto Państwowe
_label_holiday_05_03: Święto Narodowe 3 Maja
_label_holiday_08_15: Wniebowzięcie Najświętszej Maryi Panny
_label_holiday_11_01: Wszystkich Świętych
_label_holiday_11_11: Narodowe Święto Niepodległości
_label_holiday_12_25: pierwszy dzień Bożego Narodzenia
_label_holiday_12_26: drugi dzień Bożego Narodzenia
_label_holiday_eastern_monday: Poniedziałek Wielkanocny
_label_holiday_corpus_christi: dzień Bożego Ciała
