_label_holiday_01_01: Anul Nou
_label_holiday_01_02: Anul Nou
_label_holiday_01_24: Ziua Unirii Principatelor Române
_label_holiday_05_01: Ziua Internațională a Muncii
_label_holiday_06_01: Ziua Copilului
_label_holiday_08_15: Adormirea Maicii Domnului
_label_holiday_11_30: Sfântul Andrei
_label_holiday_12_01: Ziua Națională a României
_label_holiday_12_25: Crăciunul
_label_holiday_12_26: Crăciunul
_label_holiday_eastern_friday: Vinerea Mare
_label_holiday_eastern_sunday: Duminica Paștelui
_label_holiday_eastern_monday: Lunea Luminată
_label_holiday_pentecost: Rusaliile
_label_holiday_pentecost2: Rusaliile

