_label_holiday_01_01: Deň vzniku Slovenskej republiky
_label_holiday_06_01: Zjavenie Pána
_label_holiday_01_05: Sviatok práce
_label_holiday_08_05: Deň víťazstva nad fašizmom
_label_holiday_05_07: Sviatok svätého Cyrila a svätého Metoda
_label_holiday_29_08: Výročie Slovenského národného povstania
_label_holiday_01_09: Deň ústavy Slovenskej republiky
_label_holiday_15_09: Sedembolestná Panna Mária
_label_holiday_01_11: Sviatok všetkých svätých
_label_holiday_17_11: Deň boja za slobodu a demokraciu
_label_holiday_24_12: Štedrý deň
_label_holiday_25_12: Prvý sviatok vianočný
_label_holiday_26_12: Druhý sviatok vianočný
_label_holiday_eastern_friday: Veľký piatok
_label_holiday_eastern: Veľkonočný pondelok
