includes:
	- Localizations/czech.neon
	- Localizations/slovak.neon

services:
	holiday:
		class: Pd\Holidays\HolidayFacade
		setup:
			- addLocalization(CZ, @Pd\Holidays\Localizations\Czech)
			- addLocalization(SK, @Pd\Holidays\Localizations\Slovak)


	czechHolidayFactory:
		class: Pd\Holidays\HolidayFactory(%CZ%)
		autowired: off

	slovakHolidayFactory:
		class: Pd\Holidays\HolidayFactory(%SK%)
		autowired: off

	-
		class: Pd\Holidays\Localizations\Czech(@czechHolidayFactory)

	-
		class: Pd\Holidays\Localizations\Slovak(@slovakHolidayFactory)
